@using Waffle.Models.Components
@model IEnumerable<BlockEditorBlock>

@foreach (var item in Model)
{
    if (BlockEditorType.HEADER.Equals(item.Type))
    {
        if (item.Data.Level == 1)
        {
            <h1 class="wf-h1">@item.Data.Text</h1>
        }
        else if (item.Data.Level == 2)
        {
            <h2 class="wf-h2">@item.Data.Text</h2>
        }
        else if (item.Data.Level == 3)
        {
            <h3 class="wf-h3">@item.Data.Text</h3>
        }
    }
    if (BlockEditorType.PARAGRAPH.Equals(item.Type))
    {
        <p id="@item.Id">
            @Html.Raw(item.Data.Text)
        </p>
    }
    if (BlockEditorType.DELIMITER.Equals(item.Type))
    {
        <div class="wf-delimiter"></div>
    }
    if (BlockEditorType.RAW.Equals(item.Type))
    {
        @Html.Raw(item.Data.Html)
    }
    if (BlockEditorType.LINK_TOOL.Equals(item.Type))
    {
        <div class="wf-link-tool">
            <div class="wf-link-tool__image">
                <img src="@item.Data.Meta.Image.Url" loading="lazy" alt="@item.Data.Meta.Title" width="100" height="100" class="object-cover" />
            </div>
            <div class="wf-link-tool__content">
                <div class="mb-2">
                    <a href="@item.Data.Link">
                        <b>@item.Data.Meta.Title</b>
                    </a>
                </div>
                <div class="text-muted text-sm">
                    @item.Data.Meta.Description
                </div>
            </div>
        </div>
    }
    if (BlockEditorType.CODE.Equals(item.Type))
    {
        <div class="wf-code">
            @item.Data.Code
        </div>
    }
    if (BlockEditorType.QUOTE.Equals(item.Type))
    {
        <div class="quote">
            @Html.Raw(item.Data.Text)
        </div>
    }
    if (BlockEditorType.LIST.Equals(item.Type))
    {
        @if (item.Data.Items != null)
        {
            @if (item.Data.Style.Equals("ordered"))
            {
                <ol class="wf-list">
                    @foreach (var li in item.Data.Items)
                    {
                        <li class="wf-list__item">@li</li>
                    }
                </ol>
            }
            else
            {
                <ul class="wf-list">
                    @foreach (var li in item.Data.Items)
                    {
                        <li class="wf-list__item">@li</li>
                    }
                </ul>
            }
        }
    }
    if (BlockEditorType.SIMPLE_IMAGE.Equals(item.Type))
    {
        <div class="simple-image">
            <div class="@(item.Data.WithBackground ? "simple-image__picture simple-image__picture--with-background" : "simple-image__picture")">
                <img src="@item.Data.Url" alt="@(string.IsNullOrEmpty(item.Data.Caption) ? "IMG" : item.Data.Caption)" loading="lazy" />
            </div>
            <div class="simple-image__caption">
                @item.Data.Caption
            </div>
        </div>
    }
}